In [108]:
import pandas as pd
import numpy as np
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [109]:
df.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [110]:
np.random.seed(0)
dfc = df.copy()
for i in dfc['output'].unique():
        ha = dfc[dfc['output'] == i]
        trtbs_mean = ha['trtbps'].mean()
        chol_mean = ha['chol'].std()
        thalachh_mean = ha['thalachh'].mean()
        
        for j in dfc[dfc['output'] == i].index:
            if np.random.randint(2) == 1:
                dfc['trtbps'].values[j] +=trtbs_mean/20
            else:
                dfc['trtbps'].values[j] -= trtbs_mean/20

            if np.random.randint(2) == 1:
                dfc['chol'].values[j] += chol_mean/20
            else:
                dfc['chol'].values[j] -= chol_mean/20

            if np.random.randint(2) == 1:
                dfc['thalachh'].values[j] += thalachh_mean/20
            else:
                dfc['thalachh'].values[j] += thalachh_mean/20

In [111]:
X,y = df.drop(['output'], axis=1), df['output']

In [112]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [113]:
extra_sample = dfc.sample(dfc.shape[0] // 4)
X_train = pd.concat([X_train, extra_sample.drop(['output'], axis=1 ) ])
y_train = pd.concat([y_train, extra_sample['output'] ])

In [114]:
y_train.shape

(317,)

In [115]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [116]:
X_train.shape

(317, 13)

In [117]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0, max_depth=4, n_estimators=200)

In [118]:
from sklearn.metrics import  accuracy_score
rf.fit(X_train,y_train)
pred =  rf.predict(X_test)
acc = accuracy_score(y_test, pred)

In [119]:
acc

0.9180327868852459